@import url('../../node_modules/bootstrap/dist/css/bootstrap.css');

.form-signin {
    max-width: 240px;
    padding: 15px;
    margin: 0 auto;
}

.login-container {
    padding-top: 15%;
}

.form-signin-heading {
    margin-bottom: 10px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin input[type="email"] {
  margin-bottom: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 24px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sr-only {
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.login-box {
    margin: 0 23%;
    border: 1px solid #d4d4d4;
    border-top: 6px solid #3ac2a6;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:active:focus, .btn-success[disabled]:hover {
    background-color: #3ac2a6;
    border-color: #3ac2a6;
}

.btn-success:hover {
    opacity: .82;
}

.spinner {
  margin: 0 auto 0;
  width: 70px;
  text-align: center;
  position: relative;
  bottom: 142px;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #999;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.lower-opacity {
  opacity: .3;
}

#inputButton {
  margin-bottom: 10px;
}

.login-box hr {
  margin-top: 10px;
}

/*****************/
/* NAVBAR Styles */
/*****************/
.navbar-default {
  max-height: 70px;
}

.navbar-brand {
  padding: 25px 58px 42px 58px;
}

.navbar-header {
  border-right: 1px solid #ccc;
}

#nav-profile-pic {
  padding-top: 3px;
  padding-bottom: 0;
}

.navbar {
  margin-bottom: 0;
}
/******************/
/****END NAVBAR****/
/******************/


/*****************/
/* LEFT SIDEBAR **/
/*****************/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 180px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 180px;
    width: 0;
    height: 100%;
    margin-left: -180px;
    overflow-y: auto;
    background: #2D364C;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 180px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -300px;
}

/* Sidebar Styles */

.h3-sidebar-brand {
    color: #222;
    text-indent: 0;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    padding-left: 25px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li p {
    display: block;
    color: #445;
}

.p-datos-generales {
    line-height: 25px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 180px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper, #sidebar-wrapper-right {
        width: 180px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

#sidebar-wrapper li.active {
  background-color: #3AC2A6;
}

#sidebar-wrapper li:hover {
  background-color: #3AC2A6;
}

#sidebar-wrapper li.active {
  border-top: 1px solid #2D364C;
  border-bottom: 1px solid #2D364C;
}

#sidebar-wrapper li > a {
  color: white;
  font-size: 18px;
}

#sidebar-wrapper li > a:hover {
  background: none;
}

.left-sidebar-ul {
  margin-top: 22px;
}

.nav-link-i {
  padding-right: 5px;
}

/******************/
/****END SIDEBAR***/
/******************/

/*****************/
/* RIGHT SIDEBAR **/
/*****************/

#sidebar-wrapper-right {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 300px;
    height: 100%;
    margin-left: -300px;
    overflow-y: auto;
    background: #f6f6f6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
