@import url('../../node_modules/bootstrap/dist/css/bootstrap.css');
@import url('../../node_modules/select2/dist/css/select2.css');

.form-signin {
    max-width: 240px;
    padding: 15px;
    margin: 0 auto;
}

.login-container {
    padding-top: 15%;
}

.form-signin-heading {
    margin-bottom: 10px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin input[type="email"] {
  margin-bottom: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 24px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sr-only {
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.login-box {
    margin: 0 23%;
    border: 1px solid #d4d4d4;
    border-top: 6px solid #3ac2a6;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:active:focus, .btn-success[disabled]:hover {
    background-color: #3ac2a6;
    border-color: #3ac2a6;
}

.btn-default, .btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:active:focus, .btn-default[disabled]:hover {
    background-color: #bbb;
    color: white;
}

.btn-success:hover, .btn-default:hover {
    opacity: .82;
}

.spinner {
  margin: 0 auto 0;
  width: 70px;
  text-align: center;
  position: relative;
  bottom: 142px;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #999;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.lower-opacity {
  opacity: .3;
}

#inputButton {
  margin-bottom: 10px;
}

.login-box hr {
  margin-top: 10px;
}

/*****************/
/* NAVBAR Styles */
/*****************/
.navbar-default {
  max-height: 70px;
}

.navbar-brand {
  padding: 25px 58px 42px 58px;
}

.navbar-header {
  border-right: 1px solid #ccc;
}

#nav-profile-pic {
  padding-top: 3px;
  padding-bottom: 0;
}

.navbar {
  margin-bottom: 0;
}
/******************/
/****END NAVBAR****/
/******************/


/*****************/
/* LEFT SIDEBAR **/
/*****************/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 180px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 180px;
    width: 0;
    height: 100%;
    margin-left: -180px;
    overflow-y: auto;
    background: #2D364C;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 180px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -300px;
}

/* Sidebar Styles */

.h3-sidebar-brand {
    color: #222;
    text-indent: 0;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    padding-left: 25px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li p {
    display: block;
    color: #445;
}

.p-datos-generales {
    line-height: 25px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 180px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper, #sidebar-wrapper-right {
        width: 180px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

#sidebar-wrapper li.active {
  background-color: #3AC2A6;
}

#sidebar-wrapper li:hover {
  background-color: #3AC2A6;
}

#sidebar-wrapper li.active {
  border-top: 1px solid #2D364C;
  border-bottom: 1px solid #2D364C;
}

#sidebar-wrapper li > a {
  color: white;
  font-size: 18px;
}

#sidebar-wrapper li > a:hover {
  background: none;
}

.left-sidebar-ul {
  margin-top: 22px;
}

.nav-link-i {
  padding-right: 5px;
}

/******************/
/****END SIDEBAR***/
/******************/

/*****************/
/* RIGHT SIDEBAR **/
/*****************/

#sidebar-wrapper-right {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 300px;
    height: 100%;
    margin-left: -300px;
    overflow-y: auto;
    background: #f6f6f6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.quiz-wrapper {
    width: 250px;
    position: fixed;
    z-index: 1000;
    overflow-y: auto;
    float: left;
    border-right: 1px solid #ccc;
    height: 100%;
}

.quiz-wrapper .sidebar-nav {
  position: relative;
  width: 100%;
  background-color: #f8f8f8;
  color: #666666;
}

/************************/
/**** SEARCH SIDEBAR ****/
/************************/

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}

.search-sidebar input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
    float: right;
    outline: none;
    border: none;
    font-size: 16px;
    color: #666666;
}
.search-sidebar input[type=search]:hover {
	background-color: transparent;
}
.search-sidebar input[type=search].active-search {
	width: 150px;
	padding-left: 32px;
	color: #666666;
	background-color: transparent;
	cursor: auto;
    border-radius: 3px;
    outline: 0;
}
.search-sidebar input:-moz-placeholder {
	color: transparent;
}
.search-sidebar input::-webkit-input-placeholder {
	color: transparent;
}

input[type=search] {
	background: transparent url('../img/lupa.png') no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 0px 10px 1px 32px;
	width: 55px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 3px;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

.quiz-wrapper .sidebar-nav li {
  padding-left: 0px;
  background-color: #f8f8f8;
}

.hide-element {
  display: none;
}

.quiz-wrapper .search-sidebar span {
  padding-left: 10px;
}

.quiz-col-8 {
  padding-left: 5px;
  padding-right: 5px;
}

.quiz-col {
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
}

div.quiz-col-active, div.quiz-col:hover {
  background-color: #DDF7F0;
}

.quiz-search-div {
  background-color: #f8f8f8;
  padding: 10px 10px 2px 0px;
  color: #666666;
}

.quiz-name-header {
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 0px;
    color: #666666;
}

.quiz-name-sub {
    font-size: 12px;
    margin-bottom: 0px;
    color: #666666 !important;
    line-height: 28px;
}

.quiz-container-spinner {
    padding-bottom: 270px;
}

.quiz-list-li {
    cursor: pointer;
}

.quiz-list-padding-top {
    padding-top: 5px;
}

/************************/
/** END SEARCH SIDEBAR **/
/************************/

a.hover-change-color:hover {
    color: #3AC2A6 !important;
}

/************************/
/****** QUIZ MODAL ******/
/************************/

.new-quiz-modal-dialog, .new-quiz-modal-content {
    height: 100%;
}

.new-quiz-modal-content {
    border: 0;
    border-radius: 0;
    background-color: #f8f8f8;
}

.new-quiz-modal-dialog {
    width: 100%;
    margin: 0;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.new-quiz-main-div {
    padding: 20px 170px 0 170px;
}

.new-quiz-input {
    line-height: 26px;
    font-size: 16px;
    color: #666666;
    border: none;
    margin: 5px 0;
    width: 100%;
}

.select2-quiz {
    width:100% !important;
}

.select2-container, .select2-search__field, .select2-search.select2-search--inline {
    width: 100% !important;
}

.select2-selection__arrow {
    background-color: #3AC2A6;
    top: 4px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: #fff transparent transparent transparent !important;
    margin-left: -6px;
    border-width: 9px 6px 0 6px;
}

.select2-selection {
    margin-top: 3px;
}

.select2-container--default .select2-selection--single, .select2-selection--multiple {
    border: none !important;
}

.select2-selection__placeholder, .select2-search__field {
    font-size: 16px !important;
}

.select2-quiz .select2-container--default .select2-selection--single .select2-selection__rendered, .edit-field-a {
    color: #666666 !important;
}


/************************/
/**** END QUIZ MODAL ****/
/************************/

.quiz-container {
    padding-left: 250px;
}

.quiz-subcontainer {
    margin: 0 15px;
    padding-top: 20px;
}

.preguntasH4 {
    margin-bottom: 3px;
    color: #666666;
}

.preguntas-col-h4 {
    margin-left: 15px;
    border-bottom: 1px solid #ccc;
}

.preguntas-list-item {
    background-color: #f8f8f8;
    height: 100%;
    word-break: normal;
    margin-bottom: 20px;
}

h5 {
    font-size: 13px;
    color: #666666;
}

.custom-modal-header, h4, .text-to-speech-a {
    color: #666666;
}

.glyphicon-ok, .glyphicon-ok-circle, .delete-quiz:hover, .text-to-speech-a:hover, .mark-correct:hover .glyphicon-heart, .mark-correct.selected .glyphicon-heart {
    color: #3AC2A6 !important;
}

.mark-wrong:hover .glyphicon-remove, .mark-wrong.selected .glyphicon-remove {
    color: #c9302c !important;
}

.clear-search {
    color: #666666;
    cursor: pointer;
}

.delete-quiz {
    cursor: pointer;
    line-height: 24px;
}

.quiz-glyphicon-ok {
    top: -6px;
}

.text-to-speech-a, .mark-correct, .mark-wrong, .profile-a, .edit-field-a {
    cursor: pointer;
}

.mark-correct, .mark-wrong {
    font-size: 20px;
}

.text-to-speech-a .glyphicon {
    top: 8px;
}

.take-quiz-textarea {
    resize: none;
    outline: none;
    border: none;
}

.mark-correct {
    margin-right: 4px;
}

.mark-wrong {
    margin-left: 4px;
}

.mark-correct .glyphicon-heart, .mark-wrong .glyphicon-remove {
    color: #bbb !important;
    top: 8px;
}

.edit-field-a {
    font-size: 12px;
}

.edit-field-a .glyphicon-pencil {
    top:6px;
}
